*{
    margin: 0px;
    padding: 0px;
}

.main-part {
    width: 450px;
    background: linear-gradient(90deg, rgba(80,72,210,1) 0%, rgba(121,9,9,1) 19%, rgba(61,55,151,1) 44%, rgba(65,46,145,1) 47%, rgba(255,0,78,1) 82%);
    color: #fff;
    margin: auto;
    padding: 20px;
    border: 5px solid #000;
    box-shadow: 2px 15px 9px #0000005c;
    margin-top: 150px;
}
h2{
    font-size: 45px;
    font-weight: 700;;
    margin-bottom: 20px;
}